<div class="h-screen flex items-center justify-center bg-gray-100">
  <!-- Apply custom left margin of 200px -->
  <div class="max-w-md w-full p-6 bg-white rounded-lg shadow-md">
    <div class="text-center">
      <a routerLink="/login" class="text-sm text-blue-500 hover:text-blue-700">Back to Login.</a>
    </div>
    <h2 class="text-2xl font-bold mb-6 text-center mt-2">Change Password</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
        <input id="username" [(ngModel)]="username" name="username" required
               class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
      </div>
      <div class="mb-6">
        <label for="old_password" class="block text-sm font-medium text-gray-700">Old password</label>
        <input id="old_password" type="password" [(ngModel)]="oldPassword" name="password" required
               class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
      </div>
      <div class="mb-6">
        <label for="new_password" class="block text-sm font-medium text-gray-700">Password</label>
        <input id="new_password" type="password" [(ngModel)]="newPassword" name="password" required
               class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
      </div>
      <button type="submit" class="w-full py-2 px-4 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 mt-5">Change Password</button>
    </form>

    <!-- Display success or error message -->
    <div *ngIf="passwordChangeSuccess !== null" class="mt-6">
      <p *ngIf="passwordChangeSuccess" class="text-green-600 font-semibold text-center">Password changed successfully!</p>
      <p *ngIf="!passwordChangeSuccess" class="text-red-600 font-semibold text-center">{{ errorMessage }}</p>
    </div>

    <!-- Show "Go to Login" button after successful password change -->
    <button *ngIf="passwordChangeSuccess" (click)="goToLogin()" class="w-full p-3 mt-4 bg-green-600 text-white rounded-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500">Go to Login</button>
  </div>
</div>
