
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Only show the side navigation if it's not the login page -->


<div class="flex" [ngClass]="{'no-sidenav': isLoginOrChangePasswordPageOrRegisterPage()}">
  <app-side-nav *ngIf="!isLoginOrChangePasswordPageOrRegisterPage()" (collapseChange)="onCollapseChange($event)"></app-side-nav>
  <div [ngClass]="{'ml-16': isCollapsed, 'ml-64': !isCollapsed}" class="flex-1 p-4">
    <router-outlet></router-outlet>
  </div>
</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


